header {
	width:100%;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.75);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.75);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	background: #070707;
	background-image: -webkit-linear-gradient(bottom, #070707, #151515);
	background-image: -moz-linear-gradient(bottom, #070707, #151515);
	background-image: -o-linear-gradient(bottom, #070707, #151515);
	background-image: -ms-linear-gradient(bottom, #070707, #151515);
	background-image: linear-gradient(to top, #070707, #151515);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	height:60px;
	position:fixed;
	z-index: 99999;
	/*-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	-o-user-select: none;
  	user-select: none;  */ 
}
#logo {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(../img/logo.png) right center no-repeat;
	width: 185px;
	height: 60px;
	float: left;
}
html {
	margin-top: 60px;
	overflow: hidden;
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: calc(100% - 60px);
	_height: 100%;
}
body {
	height: 100%;
	background: url(../img/bg.png);
}
article {
	height: 100%;
}
/* ==========================================================================
   ViewportResizer Necessary
   ========================================================================== */
/* viewport */
.resizer-viewport {
	position: relative;
}
.resizer-viewport {
	height:100%;
	position: relative;
}
/* axis */
.resizer-axis {
	top:0;
	left:0;
	height:100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}
.resizer-axis:before, .resizer-axis:after  {
	content:"";
	top:0;
	left:0;
	height:100%;
	width: 100%;
	display: block;
	position: absolute;
}
.resizer-axis-y {
	position: absolute;
	width: 100%;
}
.resizer-axis-x {
	position: absolute;

	left:50%;
	height: 100%;
}
/* info */
.resizer-info {
	left: 50%;
	position: absolute;
	z-index: -1;
	width: 150px;
}
/* resizable */
.resizer-resizable {
	top:0;
	left: 50%;
	height:100%;
	width: 100%;
	position: absolute;
	pointer-events: none;
}
.resizer-resizable-x, .resizer-resizable-y, .resizer-resizable-xy {
	position: absolute;
	font-size: 0.1px;
	display: block;
	pointer-events: auto;
}
.resizer-resizable-x {
	top: 50%;
	right: 0px;
}
.resizer-resizable-y {
	left: 50%;
	bottom: 0;
}
.resizer-resizable-xy {
	right: 0;
	bottom: 0;
}
.resizer-resizable-x, [data-resizing="onx"] {
	cursor: e-resize;
}
.resizer-resizable-y, [data-resizing="ony"] {
	cursor: s-resize;
}
.resizer-resizable-xy, [data-resizing="onxy"] {
	cursor: se-resize;
}

[data-current="auto"] .resizer-width-area {
	height:100% !important;
}
/* switcher */
ul.resizer-switcher {
	margin:0;
	padding:0;
}
ul.resizer-switcher li {
	margin:0;
	padding:0;
}
/* iframe */
.resizer-iframe {
	width:100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	border: none;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 9999;
}
/* viewport auto */
[data-viewport="auto"] > div {
	display:none;
}
/* ==========================================================================
   ViewportResizer Styled
   ========================================================================== */
/* target */
.resizer-target {
	float: left;
	padding: 15px;
	position: relative;
}
.resizer-target-input {
	width: 300px;
	height: 30px;
	background-color: rgba(255,255,255,.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #666666;
	text-indent: 5px;
	padding-right: 35px;
	
}
.resizer-target-input:hover{
	background-color: #313131;
	color: #888888;
}
.resizer-target-input:focus {
	background-color: #fff;
	color: #666666;
}
.resizer-target-placeholder {
	color: #666666;
}
.resizer-target-input, .resizer-target-input:focus {
	border: none;
	outline: none;
}
.resizer-target-enter {
	background: url(../img/enter.png) center center no-repeat;
	width: 21px;
	height: 8px;
	position: absolute;
	right: 27px;
    top: 27px;
	display: block;
}
/* viewport */
.resizer-viewport:not([data-resizing*="on"]) * {
	-moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
/* iframe */
.resizer-iframe {
	color: #666666;
	background: #fff;
}
/* axis */
[data-resizing="onx"] .resizer-axis:before {
	opacity: 1;
}
[data-resizing="ony"] .resizer-axis:after {
	opacity: 1;
}
[data-resizing="onxy"] .resizer-axis:after,
[data-resizing="onxy"] .resizer-axis:before {
	opacity: 1;
}
.resizer-axis:before {
	background: url(../img/axis_bg_x.png) bottom repeat-x;
}
.resizer-axis:after {
	background: url(../img/axis_bg_y.png) repeat-y;
}
.resizer-axis:before, .resizer-axis:after  {
	opacity: 0.3;
}
.resizer-axis-y {
	height: 0px;
	border-bottom: 1px dotted #acacac;
}
[data-resizing="ony"] .resizer-axis-y, [data-resizing="onxy"] .resizer-axis-y {
	border-bottom: 1px solid #e48688;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.resizer-axis-x {
	width: 0px;
	border-left: 1px dotted #acacac;
}
[data-resizing="onx"] .resizer-axis-x, [data-resizing="onxy"] .resizer-axis-x {
	border-left: 1px solid #e48688;
	-webkit-box-shadow: 1px 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 0 2px rgba(0,0,0,.3);
	box-shadow: 1px 0 2px rgba(0,0,0,.3);
}
/* info */
.resizer-info {
	font-size: 12px;
	color: #aaa;
	padding: 20px;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
}
[data-resizing="onx"] .resizer-info-width,
[data-resizing="ony"] .resizer-info-height,
[data-resizing="onxy"] .resizer-info {
	color: #5f5f5f;
}
.resizer-info-lable {
	text-align: right;
	width: 40px;
	margin-right: 5px;
	display:inline-block;
}
/* switcher */
ul.resizer-switcher {
	float: right;
}
.resizer-switcher > li {
	display: inline-block;
	list-style: none;
	position: relative;
}
.resizer-switcher > li a {
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 56px;
	text-indent: 9999px;
	display: inline-block;
	cursor: pointer;
	outline: 0;
}
.resizer-switcher [data-viewport="auto"] a {
	width: 48px;
	background-image: url(../img/auto.png);
}
.resizer-switcher [data-viewport="auto"]:hover a, .resizer-switcher [data-viewport="auto"][data-current="true"] a {
	background-image: url(../img/auto_active.png);
}
.resizer-switcher [data-viewport="optional"] a {
	width: 36px;
	background-image: url(../img/optional.png);
}
.resizer-switcher [data-viewport="optional"]:hover a, .resizer-switcher [data-viewport="optional"][data-current="true"] a {
	background-image: url(../img/optional_active.png);
}
.resizer-switcher [data-viewport="mobile"] a {
	width: 30px;
	background-image: url(../img/mobile.png);
}
.resizer-switcher [data-viewport="mobile"]:hover a, .resizer-switcher [data-viewport="mobile"][data-current="true"] a {
	background-image: url(../img/mobile_active.png);
}
.resizer-switcher [data-viewport="tablet"] a {
	width: 38px;
	background-image: url(../img/tablet.png);
}
.resizer-switcher [data-viewport="tablet"]:hover a, .resizer-switcher [data-viewport="tablet"][data-current="true"] a {
	background-image: url(../img/tablet_active.png);
}
.resizer-switcher [data-viewport="notebook"] a {
	width: 61px;
	background-image: url(../img/notebook.png);
}
.resizer-switcher [data-viewport="notebook"]:hover a, .resizer-switcher [data-viewport="notebook"][data-current="true"] a {
	background-image: url(../img/notebook_active.png);
}
.resizer-switcher [data-viewport="desktop"] a {
	width: 66px;
	background-image: url(../img/desktop.png);
}
.resizer-switcher [data-viewport="desktop"]:hover a, .resizer-switcher [data-viewport="desktop"][data-current="true"] a {
	background-image: url(../img/desktop_active.png);
}
/* swithcher optional */
.resizer-switcher-optional-container {
	display: none;
	position: absolute;
	text-indent: 0 !important;
	top: 70px;

	left: -54px;
	width: 132px;
	font-size: 12px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border: solid 2px rgba(0,0,0,.6);
	background: #eeeeee;
	
}
.resizer-switcher-optional-container:after {
	border-bottom: 7px solid #FFFFFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 63px;
    position: absolute;
    top: -7px;
    width: 0;
}
.resizer-switcher-optional-container:before {
	border-bottom: 8px solid rgba(0, 0, 0, 0.6);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 62px;
    position: absolute;
    top: -10px;
    width: 0;
}
.resizer-switcher [data-viewport="optional"] a:before{
	content: "";
	display: block;
    height: 180px;
    left: -86px;
    position: absolute;
    top: 56px;
    width: 200px;
}
[data-show="true"] .resizer-switcher-optional-container {
	display: block;
}
.resizer-switcher-optional-add {
	padding: 10px;
}
.resizer-switcher-optional-add div {
	
	
	text-indent: 0px;
	margin-bottom: 2px;
}
.resizer-switcher-optional-add label {
	color: #bbb;
	text-align: right;
	width: 45px;
	display: inline-block;
	margin-right: 5px;
}
.resizer-switcher-optional-add input {
	color: #999;
	display: inline;
	width: 60px;

	background-color: #fefefe;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,.3), inset 0 2px 2px rgba(0,0,0,.03);
	-moz-box-shadow: 0 0 0 2px rgba(255,255,255,.3), inset 0 2px 2px rgba(0,0,0,.03);
	box-shadow: 0 0 0 2px rgba(255,255,255,.3), inset 0 2px 2px rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.15);
}
.resizer-switcher-optional-add input:focus,.resizer-switcher-optional-add input:hover {
	-webkit-box-shadow: 0 1px 8px rgba(111,188,243,.3);
	-moz-box-shadow: 0 1px 8px rgba(111,188,243,.3);
	box-shadow: 0 1px 8px rgba(111,188,243,.3);
	border: solid 1px rgba(126,191,238,.6);
}
.resizer-switcher-optional-container ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	background-color: #fff;
	color: #b3b3b3;
}
.resizer-switcher-optional-container li {
	border-top:1px solid #fff;
	border-bottom: 1px solid #d4d4d4;
	padding: 10px !important;
	display: block;
	-webkit-box-shadow: inset 0 1px #fff;
	-moz-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,.05) 10%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.02) 31%, rgba(0,0,0,.01) 48%, rgba(0,0,0,.01));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,.05) 10%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.02) 31%, rgba(0,0,0,.01) 48%, rgba(0,0,0,.01));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,.05) 10%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.02) 31%, rgba(0,0,0,.01) 48%, rgba(0,0,0,.01));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,.05) 10%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.02) 31%, rgba(0,0,0,.01) 48%, rgba(0,0,0,.01));
	background-image: linear-gradient(to top, rgba(0,0,0,.06), rgba(0,0,0,.05) 10%, rgba(0,0,0,.03) 20%, rgba(0,0,0,.02) 31%, rgba(0,0,0,.01) 48%, rgba(0,0,0,.01));
}
.resizer-switcher-optional-container li:hover {
	background: #fff;
}
.resizer-switcher-optional-container li[data-current="true"] {
	-webkit-box-shadow: inset 0 0 3px rgba(34,18,10,.1);
	-moz-box-shadow: inset 0 0 3px rgba(34,18,10,.1);
	box-shadow: inset 0 0 3px rgba(34,18,10,.1);
	background-image: -webkit-linear-gradient(top, #e1e6e7, #eaf2f4);
	background-image: -moz-linear-gradient(top, #e1e6e7, #eaf2f4);
	background-image: -o-linear-gradient(top, #e1e6e7, #eaf2f4);
	background-image: -ms-linear-gradient(top, #e1e6e7, #eaf2f4);
	background-image: linear-gradient(to bottom, #e1e6e7, #eaf2f4);
}
.resizer-switcher-optional-container li:last-child {
	border-bottom: none;
}
.resizer-switcher-optional-container li:first-child {
	border-top: solid 2px rgba(0,0,0,.6);
}
/* resizable */
.resizer-resizable-x {
	width: 10px; 
	height: 40px;

	margin-top: -20px;
	right: -15px;

	background: url(../img/resizable_x.png) repeat-y;
}
[data-resizing="onx"] .resizer-resizable-x {
	background: url(../img/resizable_x_active.png) repeat-y;
}
.resizer-resizable-y {
	width: 40px;
	height: 10px;
	margin-left: -20px;
	bottom: -15px;
	background: url(../img/resizable_y.png) repeat-x;
}
[data-resizing="ony"] .resizer-resizable-y {
	background: url(../img/resizable_y_active.png) repeat-x;
}
.resizer-resizable-xy {
	width: 15px;
	height: 15px;
	right: -17px;
	bottom: -17px;	
	background: url(../img/resizable_xy.png) no-repeat;
}
[data-resizing="onxy"] .resizer-resizable-xy {
	background: url(../img/resizable_xy_active.png) no-repeat;
}

[data-resizing*="on"] .resizer-resizable {
	pointer-events: auto;
}